<% if (locals.characters) { %>
    <% characters.forEach(character => { %>
        <div class="character">
            <p class="center-img"><img class="imgSmall" src="/<%= character.image %>" alt="<%= character.name %>" /></p>
            <p><span><b>Name:</b> </span><%= character.name %></p>
            <p><span><b>Role:</b> </span><%= character.role %></p>
            <a href="http://localhost:3030/<%= character.part %>/<%= character.id %>">
                <button>Read More</button>
            </a>
        </div>
    <%  }); %>
<% } %>
